{% extends "base.html" %}


{% block body %}

    <h1>新規作成</h1>

    <form method="post">
    {% csrf_token %}

        <table class="table">
            {{ form }}
        </table>

        <button class="btn btn-primary" type="submit">送信</button>

    </form>

{% endblock %}
